extends layout

block content
  div.well
    h1 Add new quote
    br
    form(action='add' method='post')
      table
        tr
          td
            label Steve Jobs quote :
          td
            input(type='text' name='quote' size=50)
          td
          td(align='right')
            input(type='Submit', value='Save')

    br
    a(href='/index') Start
